/* Colors :

Blue : #037F8C

*/

@font-face{
font-family: Caramella;
src: url('../fonts/Caramella_Regular.ttf');
}

* {
  margin: 0;
}
header {
  background-color: lightgreen;
  text-align: center;
  margin-bottom: 20px;
  min-height: 210px;
}
.grandpy-logo {
  border-radius: 50%;
  border: 5px solid white;
  height: 170px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.inner-header {
  display: inline-block;
  margin-top: 15px;
  background-color: transparent;
  position: absolute;
  left: 20px;
  right: 20px;
}
.inner-header h1{
  padding: 5px;
  font-family: Caramella;
  color: #222;
  font-weight: 400;
  font-size: 60px;
}
body {
  text-align: center;
}
#text-zone {
  display: inline-block;
  height: 400px;
  height: 500px;
  overflow-y: auto;
  width: 70%;
  margin: 15px auto 15px;
  scroll-behavior: smooth;
  box-shadow: 0 0 10px;
}
#text-zone p {
  margin: 10px;
  background-color: wheat;
  padding: 5px;
  border-radius: 15px;
  font-family: Caramella;
  color: #222;
  font-size: 20px;
  border: solid 1px #3333336b;
}

#text-zone p a {
  font-family: Caramella;
  color: #222;
  font-size: 20px;
}

#text-zone .user-msg {
  margin: 10px;
  background-color: lightgreen;
  padding: 5px;
  border-radius: 15px;
  font-family: Caramella;
  color: #222;
  font-size: 20px;
  min-height: 25px;
  border: solid 1px #3333336b;
}
#text-zone #chat {
  margin: auto;
  width: 500px;
  height: 500px;
}

form {
  margin: 15px auto 0;
  padding-bottom: 10px;
  text-align: center;
}
form #user_text {
  display: inline-block;
  border: solid 1px #2d2d2db5;
  font-family: Caramella;
  font-size: 20px;
  border-radius: 4px;
  width: 55%;
  padding: 12px 20px;
}
form #submit_button {
  display: block;
  font-family: Caramella;
  font-size: 20px;
  margin: 15px auto 15px;
  padding: 20px;
  width: 150px;
  background-color: #acffac;
  border: solid 1px #3333336b;
  color: #384634;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 0 10px #444;
  transition: .4s;
  box-shadow: 0px 0px 10px 3px #90df89;
}

form #submit_button:hover {
  transform:scale(1.1);
  transition: .4s;
  background-color: lightgreen;
}

form #loading_circle {
  color: #333;
  display: none;
  margin: 15px 20px -15px 5px;
  border: 4px solid transparent;
  border-radius: 50%;
  border-top: 4px solid #333;
  border-bottom: 4px solid #333;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

footer {
  background-color: lightgreen;
  text-align: center;
  margin: 10px auto 0;
  min-height: 100px;
}
.inner-footer {
  display: inline-block;
  position: relative;
  background-color: inherit;
  margin: 10px auto 25px;
}
.inner-footer p {
  font-family: Caramella;
  color: #222;
  font-weight: 400;
  font-size: 25px;
}
.inner-footer ul {
  font-family: Caramella;
  color: #222;
  font-weight: 400;
  font-size: 18px;

  display: inline-grid;
  grid-gap: 24px;
  margin-top: 15px;
  list-style-type: None;
  padding-left: 0;
}
.inner-footer a {
  color: #222;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 10%);
}

@media (max-width: 1300px) {
  .inner-header h1{
    font-size: 55px;
  }
  .grandpy-logo {
    height: 150px;
  }
  header {
    min-height: 190px;
  }
}
@media (max-width: 1150px) {
  .inner-header h1{
    font-size: 50px;
  }
  .grandpy-logo {
    height: 140px;
  }
  header {
    min-height: 170px;
  }
}
@media (max-width: 1040px) {
  .inner-header h1{
    font-size: 40px;
  }
  .grandpy-logo {
    height: 120px;
  }
  header {
    min-height: 150px;
  }
}
@media (max-width: 880px) {
  .inner-header h1{
    font-size: 40px;
    margin-left: 90px;
  }
  .grandpy-logo {
    height: 120px;
  }
  header {
    min-height: 150px;
  }
}
@media (max-width: 750px) {
  .inner-header h1{
    font-size: 35px;
  }
  .grandpy-logo {
    height: 110px;
  }
  header {
    min-height: 140px;
  }
  #text-zone #chat {
    margin: auto;
    width: 100%;
    height: 300px;
  }
}
@media (max-width: 670px) {
  .inner-header h1{
    font-size: 30px;
  }
  .grandpy-logo {
    height: 90px;
  }
  header {
    min-height: 120px;
  }
}
@media (max-width: 560px) {
  .inner-header {
    margin-top: 5px;
  }
  .inner-header h1{
    font-size: 25px;
    margin-left: 50px;
  }
  .grandpy-logo {
    height: 70px;
  }
  header {
    min-height: 95px;
  }
}
@media (min-width: 450px) {
  ul {
    grid-auto-flow: column;
  }
}
@media (max-width: 450px) {
  #text-zone {
    width: 90%;
  }
}
@media (max-width: 490px) {
  .inner-header h1{
    font-size: 22px;
  }
  .grandpy-logo {
    height: 60px;
  }
  header {
    min-height: 85px;
  }
}
@media (max-width: 430px) {
  .inner-header h1{
    font-size: 17px;
    margin-left: 40px;
  }
  .grandpy-logo {
    height: 40px;
  }
  header {
    min-height: 65px;
  }
}
@media (max-width: 330px) {
  .inner-header {
    margin-top: 2px;
    right: 0;
    left: 10px;
  }
  .inner-header h1{
    font-size: 14px;
    margin-left: 40px;
    padding-bottom: 0;
  }
  .grandpy-logo {
    top: 5px;
    height: 30px;
  }
  header {
    min-height: 50px;
  }
}
