<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="utf-8">
    <title>GrandpyBot</title>
  </head>

  <body>
    <header>
      <img src="/static/img/grandpy_transparent.png" class="grandpy-logo">
      <div class="inner-header">
        <h1>Grandpy Bot</h1>
        <h1>Un peu de géographie avec Grandpy</h1>
      </div>
    </header>

    <div class="text-zone">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet aliquet nulla, at sagittis risus. Suspendisse et aliquet sapien, a fermentum magna. Nullam vestibulum dapibus tortor pharetra feugiat. Sed sit amet est turpis. Vivamus ornare enim quis finibus gravida. Proin justo mi, maximus ac ultrices non, tincidunt non leo. Nulla molestie lobortis lectus at auctor.

          Proin faucibus enim non neque suscipit accumsan. Morbi luctus sit amet ex in ornare. Nullam faucibus sem non nisl sodales, ac hendrerit odio vulputate. Vestibulum convallis mauris nec enim venenatis eleifend. Aliquam erat volutpat. Suspendisse justo lectus, congue quis bibendum nec, porttitor in nisi. Etiam convallis, dolor et laoreet mattis, neque augue consequat mi, vitae porttitor nulla neque vitae risus. Praesent vestibulum sem diam, in faucibus sem tincidunt et. Maecenas nec commodo lacus, vel fermentum mi. Sed dignissim nisi sit amet odio commodo semper in mollis augue. Nunc eleifend tincidunt lacus nec efficitur. Vestibulum congue neque rhoncus tempus ultrices. Nunc non dolor vitae nulla pharetra molestie. Sed vitae fringilla ligula.

          Integer molestie porttitor enim a consectetur. Ut at velit at quam pellentesque ultricies. Proin faucibus, turpis eget rhoncus commodo, metus purus consequat odio, non pharetra massa felis eget orci. Ut varius egestas orci, eget cursus ipsum auctor id. Curabitur posuere orci ac sapien varius ullamcorper. Integer at semper neque. Integer lobortis cursus elit, vel porta ante ullamcorper ut. Sed ipsum ligula, ullamcorper a blandit sed, porttitor vitae lectus.

          Mauris egestas rutrum tempor. Nam et mauris lacus. Curabitur sit amet aliquet urna. Phasellus egestas placerat nunc, vel efficitur enim molestie eget. Nam ut porttitor est. Nulla pellentesque nulla turpis, eget lacinia odio sagittis sed. Aliquam porttitor sagittis eleifend. Nulla lorem orci, ultricies in venenatis sit amet, commodo sed diam. Suspendisse vitae lobortis est, et aliquam nulla. Morbi quis elit sodales, interdum libero at, pulvinar lorem. Ut blandit sem in odio tincidunt, sit amet molestie est egestas. Fusce volutpat ligula quam, vitae semper felis semper non.

          Etiam tincidunt ipsum vel erat vehicula cursus. Fusce sem tortor, malesuada sed dignissim sit amet, consequat eget nunc. Phasellus euismod, metus a maximus mattis, ex erat egestas eros, vitae dapibus metus quam eu sapien. Integer ipsum ex, porta vitae imperdiet sed, faucibus cursus dui. Nulla facilisi. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in sem lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque augue enim, aliquet non risus id, maximus consectetur nibh. Phasellus at interdum velit.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet aliquet nulla, at sagittis risus. Suspendisse et aliquet sapien, a fermentum magna. Nullam vestibulum dapibus tortor pharetra feugiat. Sed sit amet est turpis. Vivamus ornare enim quis finibus gravida. Proin justo mi, maximus ac ultrices non, tincidunt non leo. Nulla molestie lobortis lectus at auctor.

          Proin faucibus enim non neque suscipit accumsan. Morbi luctus sit amet ex in ornare. Nullam faucibus sem non nisl sodales, ac hendrerit odio vulputate. Vestibulum convallis mauris nec enim venenatis eleifend. Aliquam erat volutpat. Suspendisse justo lectus, congue quis bibendum nec, porttitor in nisi. Etiam convallis, dolor et laoreet mattis, neque augue consequat mi, vitae porttitor nulla neque vitae risus. Praesent vestibulum sem diam, in faucibus sem tincidunt et. Maecenas nec commodo lacus, vel fermentum mi. Sed dignissim nisi sit amet odio commodo semper in mollis augue. Nunc eleifend tincidunt lacus nec efficitur. Vestibulum congue neque rhoncus tempus ultrices. Nunc non dolor vitae nulla pharetra molestie. Sed vitae fringilla ligula.

          Integer molestie porttitor enim a consectetur. Ut at velit at quam pellentesque ultricies. Proin faucibus, turpis eget rhoncus commodo, metus purus consequat odio, non pharetra massa felis eget orci. Ut varius egestas orci, eget cursus ipsum auctor id. Curabitur posuere orci ac sapien varius ullamcorper. Integer at semper neque. Integer lobortis cursus elit, vel porta ante ullamcorper ut. Sed ipsum ligula, ullamcorper a blandit sed, porttitor vitae lectus.

          Mauris egestas rutrum tempor. Nam et mauris lacus. Curabitur sit amet aliquet urna. Phasellus egestas placerat nunc, vel efficitur enim molestie eget. Nam ut porttitor est. Nulla pellentesque nulla turpis, eget lacinia odio sagittis sed. Aliquam porttitor sagittis eleifend. Nulla lorem orci, ultricies in venenatis sit amet, commodo sed diam. Suspendisse vitae lobortis est, et aliquam nulla. Morbi quis elit sodales, interdum libero at, pulvinar lorem. Ut blandit sem in odio tincidunt, sit amet molestie est egestas. Fusce volutpat ligula quam, vitae semper felis semper non.

          Etiam tincidunt ipsum vel erat vehicula cursus. Fusce sem tortor, malesuada sed dignissim sit amet, consequat eget nunc. Phasellus euismod, metus a maximus mattis, ex erat egestas eros, vitae dapibus metus quam eu sapien. Integer ipsum ex, porta vitae imperdiet sed, faucibus cursus dui. Nulla facilisi. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in sem lorem. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque augue enim, aliquet non risus id, maximus consectetur nibh. Phasellus at interdum velit.

      </p>
    </div>
    <form id="user_text_form">
      <p>
        <label for="user_text"></label>
        <input id="user_text" type="text" name="user_text" placeholder="Posez une question à GrandPy"></input>
        <input id="submit_button" type="submit" value="Envoyer">
      </p>
    </form>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <footer>
      <div class="inner-footer">
        <p>Antoine Maurin</p>
        <ul>
          <li><a href="https://github.com/AntoineMaurin">Github</a></li>
          <li><a href="https://www.linkedin.com/in/antoine-maurin-3886a6185/">LinkedIn</a></li>
          <li><a href="https://www.facebook.com/antoine.maurin.33">Facebook</a></li>
          <li><a href="https://www.pinterest.fr/antoinemaurin26/">Pinterest</a></li>
          <li><a href="mailto:antoine.maurin26@gmail.com">Email</a></li>
        </ul>
      </div>
    </footer>

  </body>

</html>
