<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <title>GrandpyBot</title>
  </head>

  <body>
    <header>
      <img src="/static/img/grandpy_transparent.png" class="grandpy-logo">
      <div class="inner-header">
        <h1>Grandpy Bot</h1>
        <h1>Un peu de géographie avec Grandpy</h1>
      </div>
    </header>

    <div id="text-zone"></div>

    <form id="user_text_form">
      <p>
        <label for="user_text"></label>
        <input id="user_text" type="text" name="user_text" placeholder="Posez une question à GrandPy"></input>
        <div>
          <input id="submit_button" type="submit" value="Envoyer"></input>
          <div id="loading_circle"></div>
        </div>
      </p>
    </form>

    <!-- <script type="module" src="{{ url_for('static', filename='js/config.js') }}"></script> -->
    <script defer type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuOXeP98H4VMa7ww2h9GcbKBang9A4aGs"
    async defer></script>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

    <footer>
      <div class="inner-footer">
        <p>Antoine Maurin</p>
        <ul>
          <li><a href="https://github.com/AntoineMaurin">Github</a></li>
          <li><a href="https://www.linkedin.com/in/antoine-maurin-3886a6185/">LinkedIn</a></li>
          <li><a href="https://www.facebook.com/antoine.maurin.33">Facebook</a></li>
          <li><a href="https://www.pinterest.fr/antoinemaurin26/">Pinterest</a></li>
          <li><a href="mailto:antoine.maurin26@gmail.com">Email</a></li>
        </ul>
      </div>
    </footer>

  </body>

</html>
